# Первичная обработка данных
* читаем массив /home/al/PycharmProjects/hacaton_moskow_er_telecom/общепит_data-4275-2021-06-01.csv

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
ish_data = pd.read_csv('/home/al/PycharmProjects/hacaton_moskow_er_telecom/общепит_data-4275-2021-06-01.csv', 
                       sep = '^', header = 0)

In [32]:
print(ish_data.head(5))

       ID                                               Name  global_id  \
0  151635                                            СМЕТАНА  637376221
1   77874                                             Родник  637376331
2   24309                                    Кафе «Академия»  637376349
3   27429  ГБОУ «Школа № 1430 имени Героя Социалистическо...  637376480
4  148815                                           Брусника  637376481

  IsNetObject OperatingCompany TypeObject  \
0         нет              NaN       кафе
1         нет              NaN       кафе
2         нет              NaN       кафе
3         нет              NaN   столовая
4          да         Брусника       кафе

                                   AdmArea           District  \
0  Северо-Восточный административный округ  Ярославский район
1       Центральный административный округ    Таганский район
2       Центральный административный округ    Таганский район
3  Северо-Восточный административный округ    район Лианозово
4       Центральный административный округ        район Арбат

                                             Address  SeatsCount  \
0         город Москва, улица Егора Абакумова, дом 9          48
1  город Москва, улица Талалихина, дом 2/1, корпус 1          35
2          город Москва, Абельмановская улица, дом 6          95
3              город Москва, Угличская улица, дом 17         240
4      город Москва, переулок Сивцев Вражек, дом 6/2          10

  SocialPrivileges  Longitude_WGS84  Latitude_WGS84
0              нет        37.714565       55.879002
1              нет        37.673306       55.738239
2              нет        37.669648       55.735511
3              нет        37.566940       55.904019
4              нет        37.598128       55.747390

In [33]:
print(ish_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17298 entries, 0 to 17297
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                17298 non-null  int64
 1   Name              17298 non-null  object
 2   global_id         17298 non-null  int64
 3   IsNetObject       17298 non-null  object
 4   OperatingCompany  3380 non-null   object
 5   TypeObject        17298 non-null  object
 6   AdmArea           17298 non-null  object
 7   District          17298 non-null  object
 8   Address           17298 non-null  object
 9   SeatsCount        17298 non-null  int64
 10  SocialPrivileges  17298 non-null  object
 11  Longitude_WGS84   17298 non-null  float64
 12  Latitude_WGS84    17298 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 1.7+ MB
None

In [34]:
work_data = ish_data[['Name','TypeObject','SeatsCount','Latitude_WGS84','Longitude_WGS84']]
print(work_data.head(5))

                                                Name TypeObject  SeatsCount  \
0                                            СМЕТАНА       кафе          48
1                                             Родник       кафе          35
2                                    Кафе «Академия»       кафе          95
3  ГБОУ «Школа № 1430 имени Героя Социалистическо...   столовая         240
4                                           Брусника       кафе          10

   Latitude_WGS84  Longitude_WGS84
0       55.879002        37.714565
1       55.738239        37.673306
2       55.735511        37.669648
3       55.904019        37.566940
4       55.747390        37.598128

In [37]:
print(work_data.groupby('TypeObject')['TypeObject'].value_counts())

TypeObject                         TypeObject
бар                                бар                                  1147
буфет                              буфет                                 495
закусочная                         закусочная                            473
кафе                               кафе                                 6652
кафетерий                          кафетерий                            1030
магазин (отдел кулинарии)          магазин (отдел кулинарии)             395
предприятие быстрого обслуживания  предприятие быстрого обслуживания    2521
ресторан                           ресторан                             2296
столовая                           столовая                             2289
Name: TypeObject, dtype: int64

In [ ]:
def get_list_object(hi_point = [55.7744, 37.580], low_point = [55.7294, 37.652], array_object):
    rez_list_objects = []
    hi_point = [start_width, start_long], 
    low_point = [end_width, end_long]
    return rez_list_objects

In [ ]:
work_objects = get_list_object([55.7744, 37.580],[55.7294, 37.652], work_data)